<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
  <h2><%= @contact.name %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to t("app.edit"), edit_contact_path(@contact), class: "btn btn-primary" %>
    <%= link_to t("app.back"), contacts_path, class: "btn btn-primary" %>
  </div>
</div>
<hr>

<dl class="dl-horizontal">
  <dt>
    <strong><%= t("activerecord.attributes.contact.birthdate") %>:</strong>
  </dt>
  <dd> <%= l(@contact.birthdate, format: :long) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>
    <strong><%= t("activerecord.attributes.contact.address") %>:</strong>
  </dt>
  <dd> <%= @contact.address %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>
    <strong><%= t("activerecord.attributes.contact.email") %>:</strong>
  </dt>
  <dd> <%= @contact.email %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>
    <strong><%= t("activerecord.attributes.contact.cellphone") %>:</strong>
  </dt>
  <dd> <%= @contact.cellphone %></dd>
</dl>
